<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zobtech.scheduler" >

    <uses-sdk tools:overrideLibrary="com.github.paolorotolo.appintro" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScheduleActivity"
            android:label="Schedules" />

        <activity
            android:name=".AddScheduleActivity"
            android:label="@string/title_activity_add_schedule"
            android:parentActivityName=".ScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zobtech.scheduler.ScheduleActivity" />
        </activity>

        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zobtech.scheduler.ScheduleActivity" />
        </activity>

        <provider
            android:name=".SchedulerContentProvider"
            android:authorities="com.zobtech.scheduler.contentprovider" />

        <service android:name=".SchedulerService" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zobtech.scheduler.ScheduleActivity" />
        </activity>

    </application>

</manifest>
